@import '../common/basic.scss';

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    color: $txt-light;
    font-size: $body;

    &:last-child {
      margin-left: 16px;
    }

    &--selected {
      color: $txt-secondary;
    }

    &:focus {
      outline: none;
    }
  }

  &__tab-panel {
    opacity: 0;
    transition: all 0.5s ease-in;

    &--selected {
      opacity: 1;
    }
  }

  &__tab-list {
    padding-inline-start: 0;
  }
}
